<div class="container">
  <h5 class="text-center mt-4">Welcome To Component Builder</h5>
  <hr>
  <div class="page" [innerHtml]="md.render(readMe)"></div>
  <!-- <section *ngFor="let section of headings.entries();">
    <h6>{{section[0]}}</h6>
    <div class="body" >
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-body" [innerHtml]="md.render(section[1])"></div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
